/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  background-color: rgb(79, 29, 185);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --aNum: 0;
}

h1 {
  position: relative;
  color: rgb(212, 154, 9);
  text-align: center;
  top: 1.8em;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 900;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: rgb(189, 12, 12) 4em solid;
  background-color: rgb(158, 158, 158);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

.content {
  flex-basis: calc(100% / var(--aNum));
  width: .05em;
  height: .5em;
}

#newBoard {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: rgb(212, 154, 9);
  color: antiquewhite;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#newBoard:hover {
  background-color: #e24e1d;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.wrapper {
  position: relative;
  bottom: 3.6em; 
  display: flex;
  width: inherit !important;
  justify-content: space-between;
  margin: 0 1em 0 1em;
  flex-basis: 100%;
}

.knobs {
  border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    border: none;
    background-color: rgb(241, 213, 177)
}

.fullWrapper {
  visibility: hidden;
}